@media (max-width: 1800px) {
  .query-main-container,
  .query-admin-main-container,
  .query-select-pay-method-container {
    display: none;
  }
}

@media (max-width: 1200px) {
  /* header */
  .header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 14, 14, 0.8);
  }

  .header-menu {
    position: absolute;
    right: 10px;
  }

  .logo {
    width: 265px;
  }

  /* common main */
  .admin-main,
  .main,
  .select-main {
    display: none;
  }

  .query-main-container {
    height: 100vh;
    width: 100%;
    background-image: url('../image/main_img.jpg');
    background-size: cover;
    height: 100%;
    display: block;
    z-index: -1;
  }

  .qeury-wrapper,
  .query-admin-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .query-button-sec {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .query-main-btn,
  .query-admin-main-btn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .query-main-btn > i,
  .query-admin-main-btn > i {
    margin-bottom: 10px;
  }

  .button-sec-item > i,
  .query-button-text,
  .admin-button-sec-item > i,
  .admin-button-text {
    font-family: 'Do Hyeon', 'Bebas Neue', 'Black han sans', Arial, Helvetica,
      sans-serif;
    color: black;
  }

  .main-btn > i,
  .query-admin-main-btn > i {
    color: black;
  }

  /* admin header and main */
  .admin-logo {
    text-align: center;
    margin-top: 15px;
  }

  .admin-logo > h1 {
    font-size: 25px;
  }

  .query-admin-main-container {
    height: 80vh;
    width: 100%;
    background-image: url('../image/admin_main_img.jpg');
    background-size: cover;
    z-index: -1;
    display: block;
  }

  .query-select-pay-method-container {
    height: 80vh;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.7);
    z-index: -1;
    display: block;
  }

  .query-admin-button-sec {
    height: 80vh;
  }

  .query-admin-main-btn {
    height: 20vh;
    width: 100%;
  }

  /* footer */
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
  }

  /* table */
  .manage-list-container {
    width: 300px;
  }
}
