.select-pay-container {
  height: 80vh;
  width: 100%;
  background-color: black;
  z-index: -1;
  display: grid;
}

.select-main-container {
  height: 80vh;
  width: 100%;
  background-image: url('../image/admin_main_img.jpg');
  background-size: cover;
  z-index: -1;
  display: grid;
}

.select-button-sec {
  z-index: 1000;
  display: grid;
  grid-template-columns: 40vh 40vh;
  grid-template-rows: 40vh;
  justify-content: center;
}
